.made-by {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

/* loading spinner over output textarea */
.overlay-loading {
    align-items: center;
    display: flex;
    font-size: 32px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}