.made-by {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

/* loading spinner over output textarea */
.overlay-loading {
    align-items: center;
    display: flex;
    font-size: 32px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* input panels */
.panel-heading,
.panel-heading > span {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.panel-heading i {
    font-size: 18px;
}
.panel-heading .fa-times-circle-o {
    transition: color .15s;
}
.panel-heading .fa-times-circle-o:hover {
    color: #ff00e3;
    cursor: pointer;
}
.panel-heading .fa-question-circle {
    opacity: .5;
}