<div ng-controller="encryptCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12">
            <h2 ng-bind="ctrl.conf.titles.page"></h2>
        </div>
    </div>

    <!-- input fields -->
    <div class="row">
        <!-- input -->
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind="ctrl.conf.titles.input"></h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" rows="8" ng-model="ctrl.input"></textarea>
                </div>
            </div>
        </div>

        <!-- key -->
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind="ctrl.conf.titles.keyType"></h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" rows="8" ng-model="ctrl.key"></textarea>
                </div>
            </div>
        </div>

        <!-- output -->
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind="ctrl.conf.titles.output"></h3>
                </div>
                <div class="panel-body">
                    <!-- loading spinner -->
                    <div class="overlay-loading" ng-show="ctrl.isLoading">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>

                    <textarea class="form-control" rows="8" ng-model="ctrl.output" ng-readonly="true"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>