<div class="row">
    <div class="col-xs-12">
        <h2 ng-bind="ctrl.conf.page"></h2>
    </div>
</div>

<!-- error message -->
<div class="row" ng-if="ctrl.error">
    <div class="col-xs-12">
        <div class="alert alert-danger" ng-bind="ctrl.error"></div>
    </div>
</div>

<!-- input fields -->
<div class="row">
    <!-- input -->
    <div class="col-xs-12 col-sm-6 col-xl-4">
        <div class="panel panel-default pane">
            <div class="panel-heading">
                <span>
                    <h3 class="panel-title" ng-bind="ctrl.conf.input"></h3>
                    <i class="fa fa-question-circle pull-right"
                       uib-tooltip="{{ ctrl.conf.inputTooltip }}"
                       tooltip-placement="bottom"></i>
                </span>

                <i class="fa fa-times-circle-o" ng-click="ctrl.input = ''"></i>
            </div>
            <div class="panel-body">
                <textarea ng-model="ctrl.input"
                          ng-model-options="{debounce: 600}"
                          class="form-control"
                          rows="8"
                          placeholder="{{ ctrl.conf.inputPlaceholder }}"></textarea>
            </div>
        </div>
    </div>

    <!-- key -->
    <div class="col-xs-12 col-sm-6 col-xl-4">
        <div class="panel panel-default pane">
            <div class="panel-heading">
                <span>
                    <h3 class="panel-title" ng-bind="ctrl.conf.keyType"></h3>
                    <i class="fa fa-question-circle pull-right"
                       uib-tooltip="{{ ctrl.conf.keyTooltip }}"
                       tooltip-placement="bottom"></i>
                </span>

                <i class="fa fa-times-circle-o" ng-click="ctrl.key = ''"></i>
            </div>
            <div class="panel-body">
                <!-- public/private key -->
                <textarea ng-model="ctrl.key"
                          class="form-control"
                          rows="{{ ctrl.conf.keyInputRows || 8}}"
                          placeholder="{{ ctrl.conf.keyPlaceholder }}"></textarea>

                <!-- key passphrase (only for decrypting) -->
                <form class="form-inline passphrase-form" ng-if="ctrl.decrypt">
                    <div class="form-group">
                        <label for="keyPassphrase">Passphrase</label>
                        <input ng-model="ctrl.passphrase"
                               ng-model-options="{debounce: 600}"
                               type="password"
                               placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;"
                               class="form-control"
                               id="keyPassphrase">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- output -->
    <div class="col-xs-12 col-xl-4">
        <div class="panel panel-default pane">
            <div class="panel-heading">
                <h3 class="panel-title" ng-bind="ctrl.conf.output"></h3>
            </div>
            <div class="panel-body">
                <!-- loading spinner -->
                <div class="overlay-loading" ng-show="ctrl.isLoading">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>

                <textarea ng-model="ctrl.output"
                          class="form-control"
                          ng-readonly="true"
                          rows="8">
                </textarea>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="made-by">
            Built by Craig Palermo, {{ main.today }}
        </div>
    </div>
</div>
